{% extends 'base.html' %} 
{% block title %} 
Answers Page 
{% endblock %} 
{% block content %}
<body>
  <div class="container">
    <form method="POST" class="form-answers">
      {{ form.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">Questions</h1>
      <br />
      <h5>Question1. Python is an interpreted language. Explain.</h5>
      {{ form.answer1.label() }} 
      {{ form.answer1(class="form-control",placeholder="Answer") }} 
      <h5>Question2. What are decorators in Python?</h5>
      {{ form.answer2.label() }} 
      {{ form.answer2(class="form-control", placeholder="Answer") }}
      <h5>Question3. What is namespace in Python?</h5>
      {{ form.answer3.label() }} 
      {{ form.answer3(class="form-control", placeholder="Answer") }}

      <br />

      <div class="d-grid gap-2">
        {{ form.submit(class="btn btn-lg btn-primary") }}
      </div>
    </form>
  </div>
</body>
{% endblock %}
