{% extends 'base.html' %} 
{% block title %} 
    Login Page 
{% endblock %} 
{% block content %}

<div class="header">
  <div class="login_container">
            <form method="POST" action="">
              {{ form.hidden_tag() }}
              <div class="text-container" style="text-align: center;">
                <h1>Login</h1>
              </div>
              <div class="form-group">
                {{ form.email(class="form-control-input", placeholder="Email Address") }} 
              </div>
              <div class="form-group">
                {{ form.password(class="form-control-input", placeholder="Password") }}
              </div>
        
              <div class="form-group">
                {{ form.submit(class="form-control-submit-button" , value="SIGN UP") }}
              </div>
              <h6 style="color:white">Don't have an account?</h6>

              <a class="btn-solid-lg" style="padding: 20px;" href="{{ url_for('register') }}">REGISTER</a>
            </form>
            <!-- end of registration form -->

          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of registration -->
  </div>
</div>

{% endblock %}
